// Specific CSS for your home-page


.links {
  background-color: #C8F4DD;
  border-top-style: solid;
  border-top-width: 15px;
  border-top-color: white;
  h1 {
    font-size: 25px;
    font-family: lucida;
    font-style: italic;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 15px;
  }

}



.icon-links {
  width: 200px;
  a {
  color: white;
  opacity: .3;
  font-size: 30px;
  }

}

.welcome-info {
  border-top-style: solid;
  border-top-width: 15px;
  border-top-color: #2A2B2C;
  img{
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  }

}


.big {
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-bottom-color: #2A2B2C;
  border-top-style: solid;
  border-top-width: 15px;
  border-top-color: #2A2B2C;
  background-color: white;
}

.menu {
  background-color: white;
 a {
  font-size: 15px;
  font-weight: bold;
  color: #2A2B2B;
  text-decoration: none;
  &:hover {
    opacity: .7;
    text-decoration: none;
  }
 }
}
.top {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  background-color: #547337;
  img {
  object-fit: cover;
  }
}



