<div class="navbar" >
  <div class="d-flex flex-column p-4">
    <h1 style= "font-size: 30px">MELISSA CRAIG-MORSE, LPCC, ATR</h1>
    <p style= "font-size: 20px">Therapy for Individuals, Couples, & Families</p>
    <br>

  </div>
</div>
