<div class="navbar" >
  <div class="title d-flex flex-column p-5">
    <h1 style= "font-size: 30px">MELISSA CRAIG-MORSE, LPCC, ATR</h1>
    <p style= "font-size: 20px">Therapy for Individuals, Couples, & Families</p>
  </div>


<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style= "font-size: 20px">
          <%= link_to "About", about_me_path, class: "nav-link"  %>
        </li>


    </ul>
  </div>

</div>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <span style= "font-size: 60px" style="padding-left: 16px;">Seat Patterns</span>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style= "font-size: 20px">
          <%= link_to "About", about_path, class: "nav-link"  %>
        </li>


    </ul>
  </div>
</div>
