<div class="navbar" >
  <div class="title d-flex flex-column p-5">
    <h1 style= "font-size: 30px">MELISSA CRAIG-MORSE, LPCC, ATR</h1>
    <p style= "font-size: 20px">Therapy for Individuals, Couples, & Families</p>
  </div>

  <div class="icon-links d-flex justify-between">
       <div>
        <%= link_to root_path do %>
          <i class="fas fa-home"></i>
        <% end %>
      </div>

      <div>
        <%= link_to appointment_request_path do %>
        <i class="fas fa-calendar-check"> </i>
        <% end %>
      </div>

      <div>
      <%= link_to contact_me_path do %>
        <i class="fas fa-phone-square"></i>
        <% end %>
      </div>
    </div>
</div>
