
    <div class=""> <%= image_tag "irises.jpg", crop: :fill, alt: "alttext" %></div>

    </div>
    <div class="">
    <div class="welcome p-3">
      <h1>Welcome</h1>
      <p>Effective therapy is a process of learning to embrace one’s genuine self and discovering ways to access health and balance in life and relationships.

    Current research says that the most significant factor in the course of therapy's success is the level of trust and connection between the client and therapist. The ease with which this connection often occurs in my practice has been invaluable in helping those I work with to move from distress to a sense of meaning and joy in their lives.

    Moving beyond isolation, anxiety, sadness and other hard feelings is central to accessing the goodness that life inherently supplies. One of the greatest things you can do in life is to discover and come to love the being that you really are!   I would love to support you in this process.</p></div>
    <div class="p-5"><%= image_tag "profile.jpg", alt: "alttext" %></div>
    </div>
  </div>


</div>
