.navbar {
  position: relative;
  height: 180px;
  width: 100%;
  background-color: #9A9EC9;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  h1 {
  font-weight: thin;
  font-family: lucida;
  }
  p {
  font-family: lucida;
  font-style: italic;
  }

}

.icon-links {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  a {
  color: white;
  opacity: .3;
  font-size: 30px;
  }

}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  transition: 0.5s background-color ease;
  height: 130px;
  font-family: 'Oswald', sans-serif;


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  transition: 0.5s ease;
}

.logo:hover {
  transform: rotate(180deg);
}




